<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-item>
  <ion-label>Nombre</ion-label>
  <ion-input [(ngModel)]="usuario" type="text" placeholder="usuario"></ion-input>
 </ion-item>
 <ion-item>
  <ion-label>Contraseña</ion-label>
  <ion-input [(ngModel)]="contrasena" type="password" placeholder="contraseña"></ion-input>
 </ion-item>
 <ion-button (click)="iniciarSesion()" expand="block" fill="clear" shape="round">
  Iniciar Sesion 
 </ion-button>

</ion-content>
